@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+JP&family=Roboto&display=swap');
/*font-family: 'Lobster', cursive;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Roboto', sans-serif;*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar{
	background-color:grey;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem;
	position: sticky;
	top: 0;
}
.navbar ul{
	display: flex;
}
.navbar ul li{
	list-style: none;
	
}
.navbar ul li a{
	
	text-decoration: none;
	padding: 1rem;
	font-family: 'Roboto', sans-serif;
	
	

}
.navbar ul li a:hover{
	background: #59262d;
	
}
.logo{
font-family: 'Lobster', cursive;	
}
.color-text{
	color: #59262d;
}
.header{
	background: url('https://images.squarespace-cdn.com/content/v1/53481c70e4b0da6fc9aace33/1513723599819-DFWMMKDTSSWM94NVIXBO/IMG_3883+2.JPG?format=1000w');
	height: 95vh;
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover; 
}
.header div{
	color: white;
	background: rgba(0,0,0,0.7);
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Noto Sans JP', sans-serif;

}
.head-text1{
	font-size: 4rem;
	margin-bottom: 0.6rem;
	font-family: 'Lobster', cursive;
}
.p-text1{
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-family: 'Lobster', cursive;

}
.btn{
	background-color: #59262B;
	color: white;
	padding: 0.5rem;
	/* border: 3px solid black; */
	text-decoration: none;
	width: 5.7rem;
	border-radius: 8px;
}


#img{
	background: url('login.png');
	height: 100vh;
	background-size: cover;
	height: 40rem;
	width: 50rem;
}
.form{
	text-align: right;
	margin-left: 50rem;
	margin-top: 9.5rem;
}
input{
	height: 3.5rem;
	width: 30rem;
	border: 10px solid #4e8598;
}
.f-h1{
	font-size: 3rem;
	color: #00a8ad;
	font-family: 'Roboto', sans-serif;
	text-align: right;


}
label{
font-size: 1rem;
color: black;
font-family: 'Roboto', sans-serif;
}
.f-btn{
	background-color: #4e8598;
	padding: 0.7rem;
width:5.6rem; 
margin-top: 1rem;
}
